<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs') %>
<body>
    
    <h1> Welcome to the AWESOMEST user-database site ON THE PLANET!</h1>

    <div id="loginHolder" class="text-center mt-5">

        <%- include('partials/loginForm.ejs') %>
        
    </div>

</body>
</html>