<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
<body>

    <div class="container">
        <div class="text-center">
            <h1>NEW USER INFO:</h1>
        </div>
        <div class="row text-center p-3">
            <div class="col-10 mt-5 text-center">
                <h2 class="text-center">
                    <%= username %>
                </h2>
                <h2 class="text-center">
                    <%= email %>
                </h2>
                <h2 class="text-center">
                    <%= password %>
                </h2>
            </div>

        </div>
    </div>
    
</body>
</html>