
body {

    background-color: #ffb8db;

}

h1 { 
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

#formHolder {
    margin-left: 22em;
    margin-top: 200px;
}